.anim {
    padding-top: 5rem;
    color: red;
    text-align: center;
    .loader {
        display: inline-block;
        margin-right: 3rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        vertical-align: middle;
        border: 5px solid blue;
        position: relative;
    }
    .loader::after {
        content: " ";
        position: absolute;
        top : -5px;
        left: -5px;
        width: 5rem;
        height: 5rem;
        border: 5px solid transparent;
        border-top-color: red;
        border-radius: 50px;
        animation: rot 0.5s linear infinite;
    }

    @keyframes rot {
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg);}
    }
}