
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  .researchform {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
  .container {
    padding-bottom: 1rem;
    background-color: #d26767;
    h1 {
      text-align: center;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        label {
          padding-left: 6px;
        }
      }
      div, button {
        margin-left: 3px;
        margin-right: 3px;
      }
      #wordfield {
        width: 15rem;
      }
      #requestfield {
        padding-left: 9px;
        width: 45rem;
      }
      button {
        font-size: 2rem;
        border: 0;
        border-radius: 5px;
        align-self: flex-end;
        background-color: #fff;
      }
    }
    .results {
      font-size: 2rem;
      position: absolute;
      right: 10rem;      
    }
  }
}



