.pagination {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 0;
    .buttonList {
      padding: 0.5rem;
      border-bottom-right-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;
      background-color: rgba(22, 119, 158);
      display: none;
    li {
      margin-left: 2px;
      margin-right: 2px;
      cursor: default;
      button {
        color: blue;
        background: none;
        font-size: 30px;
        border: 0;
        &.dot, &.actualPage {
          cursor: default;
        }
        &.actualPage,
        &:not(.dots):hover {
          border-radius: 1rem;
          background-color: #fff;
        }
        &.prev {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
        }
        &.next {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
        }
        &.number, &.prev, &.next {
          margin: 0.5rem;
        }
        &.dots {
          cursor: inherit;
        }
      }
    }
  }
}