main {
    .container {
        table {
            margin-right: auto;
            margin-left: auto;
            border-collapse: collapse;
            thead {
                position: sticky;
                top: 112px;
                right: 0;
                left: 0;
            }
            tr, th {
                font-size: 2.7rem;
            }
            td, th, tr {
                padding: 1.5rem 2rem;
                text-align: center;
            }
            th {
                margin-left: 5rem;
                margin-right: 5rem;
                color: blue;
                background-color: rgba(22, 119, 158);
            }
            th:nth-child(1) {
                width: 2%;
            }
            th:nth-child(5) {
                width: 6%;
            }
            tbody {
                tr:nth-child(odd) {
                    background-color: rgb(25, 91, 212);
                    color: aqua;
                }
                tr:not(:nth-child(odd)) {
                    background-color: aqua;
                    color: rgb(25, 91, 212);
                }
                td {
                    button {
                        width: 5rem;
                        background-color: #0a84ee;
                        border: none;
                    }
                }
            }
        }
    }
}